body {
    font-family: 'Ubuntu', sans-serif;
    font-weight:300;
    font-size: 16px;
}

a:hover{
    cursor: pointer !important;
}

.container {
    max-width: 1000px;
}

.np {
    padding:0px;
}
.nm {
    margin:0px;
}
nav.navbar-default {

    margin-bottom: 0px;
    background-color: #3c3e42;
    border-bottom: 2px solid #555;
}

ul.navbar-nav {

}


.nav-tabs{
    border:none;

}


.nav-tabs>li {
    padding:0px;

}



section#header {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ececec;
}

.arrow {
    display: inline-block;
    width: 100%;
    position: absolute;
    text-align: center;
    position: absolute;
    bottom:-54px;

}

.arrow span {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 90px;
    background-color: #1bb1b2;
    transform:rotate(45deg) translateX(calc(50% - 50px )) translateY(0px);
}

#header .nav-tabs>li>a {
    margin-right: 2px;
    padding: 0px;
    height:60px;
    font-size: 22px;
    line-height: 60px;
    border: none;
    border-radius: 0px;
    color: #FFF;
    text-align: center;
}

#header .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #FFF;
    cursor: default;
    background-color: #1bb1b2;
    border: none;
    border-bottom-color: transparent;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}


#header .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    color: #FFF;
    cursor: default;
    border: none;
    border-bottom-color: transparent;
}

#header .nav-tabs>li>a:hover {
    border:none;
}


.navbar-default .navbar-brand {
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
}

.navbar-right {
    float: right !important;
    margin-right: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
    line-height: 50px;
    font-weight: 500;
}

#header .navi{
    background-color: #3c3e42;
}

#header .tab-content {
    padding-top: 50px;
    padding-bottom:80px;
    background-color: #1bb1b2;
}

#header h1{
    margin-top:0px;
    padding-bottom: 12px;
    font-size: 60px;
    color: #FFF;
}

#header p{
    margin-top:0px;
    font-size: 22px;
    text-align: justify;
    color: #FFF;
}


#header .col-sm-3{
    padding-left:0px;

}

#header .col-sm-9{
    padding-left:50px;

}

#header img{
    width: 230px;
    height:230px;
    position: relative;
    top:13px;
    text-align: center;
    background-color: #FFF;
    padding:50px;
}


#content {
    padding: 80px 0px;
    background-color: #ececec;
    margin-top:-5px;
    min-height: 100vh;
    padding-bottom:200px;
}

#content .big {
    max-width:380px;
    height: 380px;
    max-height: 380px;
    background-color: #FFF;
    display: block;
    padding:20px;
}

#content .big:nth-child(1) {
    float:left;
}

#content .big:nth-child(2) {

    float:right;
}


#content .big img {
    position: relative;
    margin: 0 auto;
    opacity:0.75;
    top:50px;
}

#content .big:hover img {
    opacity:1;
}

#content .big h2 {
    position: absolute;
    text-align: center;
    bottom:50px;
    left:50%;
    color: #1bb1b2;
    -webkit-transform: translateX(-50%);
}

.col-sm-20p {

}
.color-thumb {
    margin-left:1%;
    margin-bottom:10%;
    float:left;
    padding: 0px;
    width:100%;
    height: 100px;
    line-height: 45px;
    font-size: 14px;
    color: #000;
    border: none;
    border-radius: 5px;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}


.owl-carousel-1 .color-thumb {

    margin-bottom:10%;
    float:left;
    padding: 0px;
    width:100%;
    height: 75px;
    line-height: 45px;
    font-size: 14px;
    color: #000;
    border: none;
    border-radius: 5px;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}


#model-view {
    display: inline-block;
    margin:0 auto;
    position: relative;
}

.owl-carousel-2 .color-thumb {
    margin-left:1%;
    margin-bottom:50px;
    float:left;
    padding: 0px;
    width:120px;
    height: 120px;
    line-height: 45px;
    font-size: 14px;
    color: #000;
    border: none;
    border-radius: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}


.color-thumb:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.color-thumb span {
    position: relative;
}

#content .color-nav {
    padding-bottom:20px;
}

.show-more {
    color: #FFF;
    cursor: default;
    background-color: #1bb1b2;
    border:none;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #777;
}

#content .nav-pills{
    margin:10px;
    margin-bottom:50px;
}

#content .nav-pills>li>a {
    margin-right: 2px;
    line-height: .8;
    border: 1px solid #1bb1b2;
    color: #1bb1b2;
    border-radius: 4px;
}

#content .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #FFF;
    cursor: default;
    background-color: #1bb1b2;
    border: 1px solid transparent;
}

#content .pill-spacer {
    display: inline-block;
    margin:0px 20px;
    line-height: 20px;
    font-size: 20px;
    top:5px;
    color: #777;
}

footer {
     display: block;
     height:100px;
    line-height: 100px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


@media (max-width: 1200px) {

}
