body {
    font-family: 'Ubuntu', sans-serif;
    font-weight:300;
    font-size: 16px;
}
.container {
    max-width: 1200px;
}

nav.navbar-default {

    margin-bottom: 0px;
    background-color: transparent;
    border-bottom: 1px solid #ccc;

}

ul.navbar-nav {

}

.navbar-default .navbar-brand {
    color: #1bb1b2;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    line-height: 50px;
}

.navbar-default .navbar-brand:hover {
    color: #FFF;
}

.navbar-right {
    float: right !important;
    margin-right: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #1bb1b2;
    line-height: 50px;
    font-weight: 500;
}

section#header {
    display: inline-block;
    width: 100%;
    min-height: 100vh;

    background: url("../images/bg11.jpg") no-repeat;
    background-color: #f66958;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0% 97%;
}

header {
    color: #FFF;
}

header h1 {
    color: #FFF;
    font-size: 72px;
    font-weight:100;
    padding: 50px 20px;
    padding-bottom:0px;

}

#header p {
    padding:50px 20px;
    font-size: 28px;
    text-shadow: 0px 0px 20px #000;
}
#header .buttons {
    padding-bottom:80px;
}
#header .btn-custom {
    padding: 20px 30px;
    background-color: #FFF;
    width:70%;
    border:3px solid transparent;
    border-radius: 0px;
    color: #1bb1b2;
    font-size: 22px;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


#header .btn-custom:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}


#header .btn-custom:nth-child(1){
    margin-right:20px;
}


#header .btn-custom:nth-child(1){
    margin-left:20px;
}

#header .img-wrap {
    text-align: center;
    display: inline-block;
    padding: 0px;
}

#header img {
    display: inline-block;
    position: relative;
    width:80%;
    box-shadow: 0px 15px 30px rgba(0,0,0,.5);
    z-index: 0;
}



section#services {
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 5;
    padding-top:80px;
    min-height: 100vh;
    background-color: #FFF;
}

#services h2 {
    font-size: 34px;
    font-weight: 100;
    color:#b1b1b1;
    padding-top: 20px;
    padding-bottom:80px;
}
#services .panel-default {
    border:none;
    box-shadow: none;
    padding-bottom:50px;
}
#services .panel-heading {
    padding-bottom:50px;
    height:120px;
    background-color: #FFF;
    border:none;
}

#services img.house-ico {
    padding-top:5px;
}

#services img.brickwall-ico {
    padding-top:20px;
}

#services img.palete-ico {
    padding-top:10px;
}

#services img.dunno-ico {
    padding-top:20px;
}

#services img.color-bucket {
    padding-top:20px;
}

section#testimonial {
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 5;
    padding-top:80px;
    min-height: 40vh;
    background-color: #eef1f2;
}

#testimonial h2 {
    font-size: 34px;
    font-weight: 100;
    color:#b1b1b1;
    padding-top: 20px;
    padding-bottom:80px;
}

#testimonial h3 {
    color: #f66958;
    padding-bottom: 50px;
}

#testimonial p {
    text-align: center;
    font-size: 16px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
}

#testimonial span {
    position: absolute;
    top:20px;
    left:50px;
    display: inline-block;
    color: #f66958;
    font-size: 100px;
    line-height: 10px;
    font-weight: 700;
    text-align: left !important;

}

footer {
     display: block;
     height:100px;
    line-height: 100px;
}

@media (max-width: 1200px) {
    #header .btn-custom {
        display: inline-block;
        padding: 20px 30px;
        background-color: #FFF;
        width:70%;
        border-radius: 0px;
        color: #f66958;
        font-size: 22px;
        font-weight: 700;
        float:none!important;


        font-size: 16px;
        margin-bottom:20px;

    }
    #header .btn-custom:nth-child(1){
        margin-right:0px;
        margin-left:0px;
    }
}
