{var $c = $color}

<div id="model-view">
    {$table} | {$color->name}

        {if $presenter->action == 'interior'}
            <img class="img-responsive" src="{$basePath}/images/interior.png" alt="model-interior" style="background-color: rgb({$color->r},{$color->g},{$color->b});">
        {else}
            <img class="img-responsive" src="{$basePath}/images/house-b-t.png" alt="model-exterior" style="background-color: rgb({$color->r},{$color->g},{$color->b});">
        {/if}
</div>
<div class="owl-carousel-2">
    {foreach $parents as $sub}
        <div class="color-thumb text-center" style="background-color: rgb({$sub->r},{$sub->g},{$sub->b});"
             data-toggle="tooltip" data-placement="top" title="{$sub->name|replace:'CC':''}">
        </div>

    {/foreach}
</div>

<script>
    $(document).ready(function(){
        $('.owl-carousel-2').owlCarousel({
            itemsCustom:[[0, 2], [400, 4], [700, 6], [1000, 6], [1200, 6], [1600,6]],
            loop:true,
            lazyLoad : true,
            nav:true,
            navigation : true, // Show next and prev buttons
        });

    });


    $(".color-thumb").on('click', function() {
        var color = $(this).css( "background-color" );
        // Select tab by name
        $("#model-view img").css('background-color',color);
        $("#header img").css('background-color',color);
    });


    $(document).ready(function(){
        $("#btn-model").addClass('active');

        $('#btn-model').click(function (e) {

            if($(this).hasClass('active')) {
                $(this).toggleClass('active');
                $("#model-view").fadeOut(300);
            } else {
                $(this).toggleClass('active');
                $("#model-view").fadeIn(300);
            }
        });
    });
</script>
