<div class="row">
    <div class="owl-carousel-1">
        {foreach $colors as $c}
            {continueIf $c->parent != NULL}
            <div class="col-sm-12">
            {foreach $c->related($table,'parent')->order('id DESC')->limit(6) as $sub}
                <a class="ajax" href="{plink ShowColor! $sub->id,$table}" data-target="#detail" data-link="{plink ShowColor! $c->id}">
                    <div class="thumbnail color-thumb text-center" style="background-color: rgb({$sub->r},{$sub->g},{$sub->b});"
                         data-toggle="tooltip" data-placement="top" title="{$sub->name|replace:'CC':''|replace:'AVA',''|replace:'-VT',''}">
                    </div>
                <a/>
            {/foreach}
                <h4 n:if="$names" class="text-left text-muted">{$c->name}</h4>
                <a class="ajax" href="{plink ShowColor! $c->id,$table}" data-target="#detail" data-link="{plink ShowColor! $c->id}">
                    <div class="color-thumb text-center" style="background-color: rgb({$c->r},{$c->g},{$c->b});"
                         data-toggle="tooltip" data-placement="top" title="{$c->name}">
                    </div>
                <a/>
            </div>
        {/foreach}
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.owl-carousel-1').owlCarousel({
            itemsCustom:[[0, 2], [400, 4], [700, 5], [1000, 5], [1200, 5], [1600,5]],
            loop:true,
            slideSpeed : 500,
            rewindNav : true,
            scrollPerPage : true,
            nav:true,
            navigation:true,
            afterInit : function(elem){
                var that = this
                that.owlControls.prependTo(elem)
            }
        });

    });
</script>
