{block #content}
{snippet ColorDetailSnippet}
<div class="container">
    <div class="col-sm-12">
        <ul id="myTabs" class="nav nav-pills">
            <li {ifset $c2d}class="active"{else}{/ifset}>
                <a class="ajax" data-toggle="tab" data-target="#cc2d" href="{plink changeTable! 0}#cc2d">Caparol color</a>
            </li>
            <li class="pill-spacer">|</li>
            <li {ifset $c3d}class="active"{else}{/ifset}>
                <a class="ajax" data-toggle="tab" href="{plink changeTable! 1}#cc3d">Caparol color 3D plus</a>
            </li>
            {ifset $detail}
			<li class="pill-spacer">|</li>
			<li class="active">
				<a data-toggle="tab" href="#detail">Detail</a>
			</li>
            <li id="btn-model">
                <a href="#model">Zobrazit model</a>
            </li>
            {/ifset}
        </ul>
    </div>

    <div class="col-sm-12">
        <div class="tab-content">
            <div id="cc2d" class="tab-pane fade {ifset $c2d}in active{else}{/ifset}">
                <div class="">
					{ifset $c2d}
						{var $table = 'e_ccolors2d'}
                    	{control colors, $cc2d}
					{/ifset}
                </div>
            </div>
            <div id="cc3d" class="tab-pane fade {ifset $c3d}in active{else}{/ifset}">
                <div class="">
					{ifset $c3d}
						{var $table = 'e_ccolors3d'}
                    	{control colors, $cc3d}
					{/ifset}
                </div>
            </div>
			<div id="detail" class="tab-pane fade {ifset $detail}in active{/ifset}">
				<div class="text-center">
					{ifset $detail}
						{control colorDetail, $color, $table}
					{/ifset}

				</div>
			</div>
        </div>
    </div>

</div>
{/snippet}
<script>

</script>