{block #content}
<div class="container">
    <div class="col-sm-12">
        <ul class="nav nav-pills">
            <li id="cc2d-button" >
                <a data-toggle="tab" href="#cc2d">Caparol color</a>
            </li>
            <li class="pill-spacer">|</li>
            <li>
                <a data-toggle="tab" href="#cc3d">Caparol color 3D plus</a>
            </li>
            <li class="pill-spacer">|</li>
            <li class="active">
                <a data-toggle="tab" href="#detail">Detail</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-12">
        <div class="tab-content">
            <div id="cc2d" class="tab-pane fade">
                <div class="col-sm-12">
                    {control colors2D, $cc2d,'detail'}
                </div>
            </div>
            <div id="cc3d" class="tab-pane fade">
                <div class="col-sm-12">
                    {control colors3D, $cc3d, 'detail3d'}
                </div>
            </div>
            <div id="detail" class="tab-pane fade in active">
                <div class="col-sm-12">
                    {control singleColor, $color, $table, $act}
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .home {
        display: inline-block;
        position: relative;
    }
</style>
{block script}
    <script type="text/javascript">

    </script>
{/block}