<!-- Footer -->
<div class="container">
<footer>
    <div class="row">
        <div class="col-lg-12 text-center text-muted">
            <p>Copyright © Roda 2016</p>
        </div>
    </div>
</footer>
</div>
