{* This is the welcome page, you can delete it *}

{block content}
<section id="header">
	<div class=" navi">
		<div class="container">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li id="step1" role="presentation" class="col-sm-3 active"><a n:href="Homepage:default">Typ</a></li>
				<li role="presentation" class="col-sm-3 "><a href="">Omítka</a></li>
				<li role="presentation" class="col-sm-3"><a href="" >Barva</a></li>
				<li role="presentation" class="col-sm-3"><a href="" >Doprava</a></li>
			</ul>
		</div>
	</div>
	<!-- Tab panes -->
	<div class="tab-content">
		<div class="container">
			<div class="col-sm-3">
				<img src="{$basePath}/images/paintbrush.svg" alt="..." class="">
			</div>
			<div class="col-sm-9 text-left">
				<h1>
					Zvolte prosím typ
				</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Ut mi magna, accumsan in felis ac, tristique aliquet nisi.
					Integer vestibulum odio sit amet velit dignissim bibendum.
					Quisque at imperdiet magna.
					Aliquam venenatis massa justo, ac volutpat mauris blandit non.
				</p>
			</div>
		</div>
	</div>
	<div class="arrow">
		<span></span>
	</div>
</section>

<section id="content">
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="home2">
			<div class="container">
				<div class="col-sm-6 big">
					<a n:href="Homepage:exterior">
						<img src="{$basePath}/images/house2.png" alt="..." class="img-responsive home">
						<h2>Exteriér</h2>
					</a>
				</div>
				<div class="col-sm-6 big">
					<a n:href="Homepage:interior">
					<img src="{$basePath}/images/interior-small.png" alt="..." class="img-responsive">
					<h2>Interiér</h2>
					</a>
				</div>

			</div>
		</div>
	</div>
</section>

<script type="text/javascript">

</script>