{* This is the welcome page, you can delete it *}

{block #content}
{snippetArea wrapper}
<section id="header">
    <div class=" navi">
        <div class="container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li id="step1" role="presentation" class="col-sm-3"><a n:href="Homepage:default">Typ</a></li>
                <li role="presentation" class="col-sm-3 active"><a href="" >Omítka</a></li>
                <li role="presentation" class="col-sm-3"><a href="" >Barva</a></li>
                <li role="presentation" class="col-sm-3"><a href="" >Doprava</a></li>
            </ul>
        </div>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="container">
            <div class="col-sm-3">
                <img src="{$basePath}/images/window.svg" alt="..." class="img-responsive">
            </div>
            <div class="col-sm-9 text-left">
                <h1>
                    {if $usage} Interiér {else} Exteriér{/if}
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ut mi magna, accumsan in felis ac, tristique aliquet nisi.
                    Integer vestibulum odio sit amet velit dignissim bibendum.
                    Quisque at imperdiet magna.
                    Aliquam venenatis massa justo, ac volutpat mauris blandit non.
                </p>
            </div>
        </div>
    </div>
    <div class="arrow">
        <span></span>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="col-sm-12">
            <ul id="myTabs" class="nav nav-pills">
                <li class="active">
                    <a class="" href="#cc2d" data-toggle="tab" data-target="#cc2d" data-link="{plink tab! 0}">Caparol color</a>
                </li>
                <li class="pill-spacer">|</li>
                <li>
                    <a class="" href="#cc3d" data-toggle="tab" data-target="#cc3d" data-link="{plink tab! 1}">Caparol color 3D plus</a>
                </li>
                <li class="pill-spacer">|</li>
                <li>
                    <a href="#detail">Detail</a>
                </li>
                <li id="btn-model">
                    <a href="#model">Zobrazit model</a>
                </li>
            </ul>
        </div>


        <div class="col-sm-12">
            <div class="tab-content">
                <div id="cc2d" class="tab-pane fade in active">
                        {control colors2d}
                </div>
                <div id="cc3d" class="tab-pane fade">
                        {control colors3d}
                </div>
                <div id="detail" class="tab-pane fade">
                    <div class="text-center">
                        {snippet detail}
                            {ifset $colorX}
                            {control colorDetail}
                            {/ifset}
                        {/snippet}
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{/snippetArea}
<script>

</script>