
{ifset $basket}

<script type="text/javascript">
    
//http://www.egrappler.com/jquery-spin-button-plugin-smart-spin/
 
$(document).ready(function() {
    
    {foreach $basket as $item}
        {ifset $item->e_products_id}
      //      $('#item{$item->e_products_id}').spinit({ min:1,max:20,stepInc:1,pageInc:20, height: 22, initValue: {$item->amount} });
        {else}
          
           
    $('#frmbasketForm-service{$item->e_extra_services_id}').click(function() {
            {if $item->amount > 0}
            $.get('?productId={$item->e_products_id_attached_service}&serviceId={$item->e_extra_services_id}&do=removeService');
            {else}
            $.get('?productId={$item->e_products_id_attached_service}&serviceId={$item->e_extra_services_id}&do=addService');    
            {/if}    
    });


        {/ifset}    
    {/foreach}
 
});
</script>
{/ifset}

{form basketForm, class => 'ajax'}
<fieldset>
    <table id="items-table">
        <tr>
            <th>&nbsp;</th>
            <th class="al">{_'Název produktu'}</th>
            <th class="w120">{_'Počet kusů'}</th>
            <th class="w120">{_'Cena s DPH'}</th>
            <th class="w120">{_'Odebrat z košíku'}</th>
        </tr>
        {if $itemsCount}
        <tr n:foreach="$basket as $item">
            {* PRODUCT *}
            {if isset($item->e_products_id) && !$item->is_gift}
            <td class="img"><a href="{$item|basketImg}"><img src="{$item|basketImg:66:65}" alt="{$item->cache_image_url}" /></a></td>
            <td class="al"><a n:href=":Front:Eshop:Product:, $item->cache_product_url">{$item->cache_name}</a><br />
                <span>{$item->cache_product_code}</span></td>
            <td>
                    {input $item->e_products_id, id=>'item'.$item->e_products_id} {* , class => 'smartspinner' *}
            </td>
            <td><strong>{$item->price}</strong></td>
            <td class="ico">
                <a class="ajax" n:href="remove!, $item->e_products_id" data-confirm="{_'Opravdu chcete odebrat produkt z košíku?'}">X<span class="replace"></span></a>
            </td>
            {elseif isset($item->e_extra_services_id)}
            <td>{input 'service'.$item->e_extra_services_id}</td>
            <td>{$item->cache_name}</td>
            <td>{$item->amount|number:0}</td>
            <td>{$item->price|currency}</td>
            <td class="ico">
                <a class="ajax" n:href="removeService!, $item->e_products_id_attached_service, $item->e_extra_services_id" data-confirm="{_'Opravdu chcete odebrat službu z košíku?'}">X<span class="replace"></span></a>
            </td>
            {elseif $item->is_gift}
            <td class="img"><a href="{$item|basketImg}"><img src="{$item|basketImg:66:65}" alt="{$item->cache_image_url}" /></a></td>
            <td><strong>{_'Dárek'}</strong> -{$item->cache_name}</td>
            <td>{$item->amount|number:0}</td>
            <td>{$item->price|currency}</td>
            <td class="ico">
                <a class="ajax" n:href="removeGift!" data-confirm="{_'Opravdu chcete odebrat dárek z košíku?'}">X<span class="replace"></span></a>
            </td>
            {/if}
        </tr>
        {else}
        <tr>
            <td>{_'Žádné položky'}</td>
        </tr>
        {/if}
        <tr class="summary">
            <td>&nbsp;</td>
            <td class="al">{_'Celková cena košíku'}</td>
            {*    <td class="nob"><a class="ajax" n:href="refresh!">{_'Přepočítat'}</a></td> *}
            <td class="nob">{input send}</td>

            <td class="nob">
                <strong>
                {$sum|currency}
                </strong>
            </td>
            <td class="last">&nbsp;</td>
        </tr>
    </table>
</fieldset>
<fieldset class="move">
    <p class="back"><a href="javascript:history.go(-1);">{_'Zpět do e-shopu'}</a></p>
    <p class="go">
        <em>{_'Kliknutím na tlačítko pokračovat se dostanete na druhý krok, kde zadáte doručovací údaje.'}</em>
        <a n:href="Basket:deliveryAndPayment" class="purple-button link">
            <span>{_'Pokračovat'}</span></a></p>
    <hr />
</fieldset>
{/form}
