{* This is the welcome page, you can delete it *}

{block content}
<section id="header">

<div class="container">
	{include ../navigation.latte}
	<!-- Jumbotron Header -->
	<header class="text-center">
		<h1><strong>ADMIN </strong> color studio</h1>
		<p>S naší aplikací si jednoduše spočítáte náklady na vaší fasádní či interiérovou omítku.</p>
		<div class="row buttons">
			<div class="col-xs-12 col-lg-6">
				<a class="btn btn-custom pull-right" href="#services">Zjistit více</a>
			</div>
			<div class="col-xs-12 col-lg-6">
				<a class="btn btn-custom pull-left disabled">Přejít do aplikace ( již brzy )</a>
			</div>
		</div>
	</header>

	<!-- /.row -->
	<div class="col-lg-12 text-center img-wrap">
		<img class="" src="{$basePath}/images/window.png" alt="window">
	</div>
</div>

</section>

<section id="services">

	<div class="container">
		<!-- Page Features -->
		<div class="row text-center">
			<div class="col-lg-12">
				<h2>S naší apliací můžete.</h2>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<img class="house-ico" src="{$basePath}/images/house-ico.png" alt="house-ico">
					</div>
					<div class="caption">
						<h3>Fasádní omítky</h3>
						<p>Spočítám náklady na penetraci a barvu</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<img class="brickwall-ico" src="{$basePath}/images/brickwall-ico.png" alt="brickwall-ico">
					</div>
					<div class="caption">
						<h3>Interiérové omítky</h3>
						<p>Vyberte si zrnitost povrchu</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<img class="palete-ico" src="{$basePath}/images/palete-ico.png" alt="palete-ico">
					</div>
					<div class="caption">
						<h3>Vyberete si Vaší barvu</h3>
						<p>Nabízíme vzorníky Caparol Color a <br> Caparol Color 3D</p>
					</div>
				</div>
			</div>

		<!-- /.row -->


			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<img class="dunno-ico" src="{$basePath}/images/dunno.png" alt="dunno">
					</div>
					<div class="caption">
						<h3>Lorem ipsum</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<img class="color-bucket-ico" src="{$basePath}/images/color-bucket.png" alt="color-bucket-ico">
					</div>
					<div class="caption">
						<h3>Spočítáme vám množství</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<img class="brush-ico" src="{$basePath}/images/brush-ico.png" alt="/brush-ico">
					</div>
					<div class="caption">
						<h3>Vyberte si příslušenství</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->

	</div>

</section>


<section id="testimonial">
	<div class="container">
		<!-- Page Features -->
		<div class="row text-center">
			<div class="col-md-4 col-sm-6">
				<span>“</span>
				<p>Tuto aplikaci mohu opravdu doporučit, jednoduše a rychle jsem si dokázal spočítat náklady na naší <br> <strong>fasádní omítku</strong> </p>
				<h3>Patrik Žižka</h3>
			</div>

			<div class="col-md-4 col-sm-6">

				<span>“</span>
				<p>Tuto aplikaci mohu opravdu doporučit, jednoduše a rychle jsem si dokázal spočítat náklady na rekonstrukci našeho <strong>interiéru</strong></p>
				<h3>Martin Černý</h3>
			</div>

			<div class="col-md-4 col-sm-6">
				<span>“</span>
				<p>Tuto aplikaci mohu opravdu doporučit, jednoduše a rychle jsem si dokázal spočítat náklady na naší<br> <strong>rekonstrukci </strong></p>
				<h3>Pan Někdo</h3>
			</div>
		</div>
		<!-- /.row -->
		<hr>
	</div>

</section>
